body {
  <!--	background-image: url("main_header.jpg");
	background-repeat: no-repeat;
	background-position: absolute;
	background-size: cover; -->
	padding-top: 50px;
	font-family: Tahoma;
	background-color: black;
	font-size: larger;
}
#main_header {
	position: relative;
	padding: 5% 0% 4% 4%;
	font-family: "Lucida Console";
}
p,h1,h2,h3 {
	color: white;
}
p,h2,h3 {
	padding: 0% 0% 0% 15%;
	float: middle;
	width: 70%;
}
#welcome {
	padding: 0% 0% 2% 2%;
	margin: 2% 2% 4% 2%;
	border-width: 2px;
	border-color: rgb(255,50,50);
}
.page-text {
	background-color: #6B6B6B;
}
#fixed_footer {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
    width: 100%;
    height: 30px;
    margin: 0px;
    padding: 20px;    
    background: #333;
    background: rgba(0,0,153,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.9);
    color: white;
    font-size: 20px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}
#fixed_footer #footer_menu {
	float: left;
    list-style-type: none;
    position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
    width: 100%;
    height: 30px;
	margin: 0px;
    padding: 10px 10px;
	border: none;
}
#fixed_footer #footer_menu .home {
	border-left: 1px solid rgba(0,0,0,0.4);
	border-right: 1px solid rgba(0,0,0,0.4);
}
#fixed_footer li {
	position: center;
	text-align: center;
	vertical-align: center;
	float: left;
	height: 30px;
    margin: 0px;
    padding: 10px;
    border: none;
    border-right: 1px solid rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.1);
    list-style: none;
}
#fixed_footer li:hover {
    background: rgba(255,0,0,0.4);
	border-bottom: none;
}
#fixed_footer li a {
    display: block;
    color: rgba(224,224,224,1);
    text-decoration: none;
}
#fixed_footer li a:hover {
    color: white;
    text-decoration: none;
}
