body {
  	background-image: url("main_header.jpg");
	background-repeat: no-repeat;
	background-position: absolute;
	background-size: cover;
	padding-top: 50px;
	font-family: Tahoma;
	font-size: larger;
}
#main_header {
	position: relative;
	margin: 5% 0% 4% 4%;
	font-family: "Lucida Console";
}
p,h1,h2,h3 {
	color: black;
}
p,h2,h3 {
	margin: 0% 0% 0% 15%;
	
	width: 70%;
}
#welcome {
	padding: 0% 0% 2% 2%;
	margin: 2% 2% 4% 2%;
	border-width: 2px;
	border-color: rgb(255,50,50);
}
.page-text {
	background-color: rgb(255,50,50);
}
/*****DROP DOWN MENU STARTS**********/

.drop-menu ul {
	background: #333;
    	background: rgba(0,0,153,0.8);
	list-style:none;
	position:absolute;
	right: 2px;
	top: 6px;
	visibility: hidden;
	float: left;
}
.drop-menu ul li {
	padding-top:1px;
	float:left;
}
.drop-menu ul a {
	white-space:nowrap;
}

.drop-menu li:hover ul {
	visibility: visible;
}

.sub-menu {
	position: absolute;
	float: left;
}
/*****DROP DOWN MENU ENDS******/
#fixed_footer {
	position: fixed;
	float: left;
	top: 0px;
	left: 0px;
	right: 0px;
    width: 100%;
    height: 30px;
    margin: 0px;
    padding: 15px;   
    background: #333;
    background: rgba(0,0,153,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.9);
    color: white;
    font-size: 20px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}
#fixed_footer #footer_menu {
	float: left;
    list-style-type: none;
    position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
    width: 100%;
    height: 30px;
	margin: 0px;
    padding: 10px 10px;
	border: none;
}
#fixed_footer #footer_menu .home {
	border-left: 1px solid rgba(0,0,0,0.4);
	border-right: 1px solid rgba(0,0,0,0.4);
}
#fixed_footer li {
	position: center;
	
	text-align: center;
	vertical-align: center;
	float: left;
	height: 30px;
    margin: 0px;
    padding: 10px;
    border: none;
    border-right: 1px solid rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.1);
    list-style: none;
}
#fixed_footer li:hover {
    background: rgba(255,0,0,0.4);
	border-bottom: none;
}
#fixed_footer li a {
    display: block;
    color: rgba(224,224,224,1);
    text-decoration: none;
}
#fixed_footer li a:hover {
    color: white;
    text-decoration: none;
}
